
.meal-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  margin: 30px 150px;
  position: relative;
  }

.meals-h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.meals-h1::before {
  content: "🍴 ";
  display: inline-block;
  margin-right: 8px;
}

.meals-h1::after {
  content: " 🍴";
  display: inline-block;
  margin-left: 8px;
}

.meals {
  text-align: center;
  
}

.meals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
  }

  

