
.meal-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  margin: 30px 150px;
  position: relative;

  width: 80%;
  
  }

.meals {
  text-align: center;
  
}

.meals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
 
  }

  

